*{
    font-family: 'Acme', sans-serif;
}
html {
    background-color: brown;
}
#inhalt{
    font-size: 37px;
    text-decoration-line: underline;
}
.inhaltsverzeichnis{
    font-size: 16px;
}
header{
    position: fixed;
    background-color: bisque;
    padding-right: 20px;
    padding-bottom: 100%;
    padding-left: 10px;
    border-style: solid;
    border-color: #1a8b8b;
}
main {
    margin-left: 305px;
    background-color: rgba(0,0,0,0.78);
    color: seashell;
    text-align: justify;
    border-left: 3px #1a8b8b;
    border-left-width: 15px;
    border-style: solid;
    padding-left: 8px;
}
h1{
    font-size: 20.1px;
}
h2{
    font-size: 17px;
}
p{
    font-size: 13px;
}
.tools{
    font-size: 13px;
}